ide
plugins
projects
shell-snapshots
statsig
todos
/tmp.txt


*.log
tmp*
.idea
node_modules
.eslintcache

packages/*/.npmignore

.env.local
/.playwright-mcp
/volumes
/history.jsonl
/file-history
/debug
/plans
/stats-cache.json
/chrome
/cache
/paste-cache
/tasks
/teams
/telemetry
