/agent-memory
/backups
/cache
/chrome
/.claude
/daemon
/daemon.*
/debug
.env.local
.eslintcache
/file-history
/history.jsonl
ide
.idea
/jobs
/.last-cleanup
.last-update*
/locks
*.log
/logs
/mcp-needs-auth-cache.json
/merge-queue-repos.txt
node_modules
packages/*/.npmignore
/paste-cache
/plans
/.playwright-mcp
plugins
projects
/session-env
/sessions
shell-snapshots
/stats-cache.json
statsig
/tasks
/teams
/telemetry
tmp*
/tmp.txt
todos
/usage-data
/volumes
/worktree-repos.txt
daemon-auth-*
.credentials.json
